.el-color-picker--mini {
  width: 100% !important;

  .el-color-picker__trigger {
    width: 100% !important;
    height: 30px !important;
    padding: 0;

    .el-color-picker__icon {
      display: none;
    }
  }
}

.el-input {
  input {
    text-align: left !important;
  }
}

.el-tree {
  width: 100%;
}
